{% extends "admin/BaseTemplateDoctor.html" %}

{% block mainContent %}
         <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a class="btn btn-default btn-info center-block" href="patient.html?id=1">Cristóbal Liendo</a><br>
                                        <p>Fecha de Nacimiento: <strong>6/10/1998</strong></p>
                                        <p>Edad: <strong>16</strong></p>
                                        <p>Sexo: <strong>Masculino</strong></p>
                                        <p>Diagnóstico: <strong>Procastinus Máximus</strong></p>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <a href="" class="text-danger"><i class="ti-close icon-danger"></i>Eliminar paciente</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}