{% extends "admin/BaseTemplate.html" %}

{% block mainContent %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="content">
                                <div class="header">
                                    <h1 class="title">Mis medicinas</h1>

                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12 col-lg-4">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="icon-big icon-muted  text-center">
                                            <i class="ti-pulse"></i>
                                        </div>
                                    </div>

                                    <div class="col-xs-8">
                                        <p>Metformina</p>
                                        <p>Recetado por: Alfredo Soni</p>
                                        <p><a href="" class="btn btn-success">Editar dosis</a></p>
                                    </div>
                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <a href="" class="text-danger"><i class="ti-close icon-danger"></i> Eliminar medicina</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-3">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="icon-big icon-muted  text-center">
                                            <a href=""><i class="ti-plus"></i></a>
                                        </div>
                                    </div>

                                    <div class="col-xs-8 col-lg-8">
                                        <h5><a href="">Agregar un medicamento nuevo</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}